.section-1-video{
    background-image: url('../../../assets/images/videoSwap-section1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 800px) {
    .section-1-video{
        background-image: none;
    }
}

